
/* ABOUT STYLING */
/* Header styling */
.header_width{
	width: 960px;
	margin: 0 auto;
}

.header {
	text-decoration: none;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
	background-color: #ffffff; 
	font-size: 18pt;
	border-bottom: solid 2px #cccccc; 
	width: 100%;
}

h1 {
	display: inline-block;
	padding: 20px;
	color: #ffffff;
	text-decoration: none;
	margin-top: 10px;
	background-color: #4aaaa5;
}

/* Nav Styling*/

nav {
	display: inline-block;
	/*margin-right: 158px;*/
	background-color: #ffffff;
	margin-top: 10px;
	float: right;
}

a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #777777;
	width: 100%;
}

li.nav_item {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: 10px; 
}	

span.nav_item {
	color: #cccccc;
	font-weight: lighter;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10pt;
}

.header_size

/* wrapped content styling */

html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("concrete_seamless.png");
	background-repeat: repeat;
}

.background {
	max-width: 960px;
	background-image: url("concrete_seamless.png"); 
	height: 100%;
	z-index: -1;
	background-repeat: repeat;
	background-size: 400px;
	margin: 0 auto;
	overflow: auto;
	/*margin-bottom: 100%;*/	
}

.content {
	float: left;
	width: 650px;
	color: #777777;
	margin: 0 auto;
	background-color: #ffffff;
	margin-top: 35px;
	/*margin-bottom: 100%;*/
	border: solid 1px #cccccc;
	margin-bottom: 80px;
}

.connect {
	background-color: #ffffff;
	float: right;
    width: 230px;
    margin-top: 35px;
    display: inline-block;
}

.main {
	height: 100%;
}

/* Individual Elements */

div.content p {
	padding: 20px;
	line-height: 2;
	font-weight: 600;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10pt;
	font-color: #777777;
}

form {
	padding: 20px;
}

input[type=text] {
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
}

input[type=email] {
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
}

input[type=message] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
	}

h2 {
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
	font-size: 18pt;
	color: #4aaaa5;
	margin: 20px;
	text-align: left;
}

.border {
	border-bottom: solid 2px #cccccc;
	margin-left: 20px;
	margin-right: 20px;
}

h3 {
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
	font-size: 20px;
	color: #4aaaa5;
	padding: 20px;
	text-align: center;
}

h3 a {
	padding: 10px;
}

div.links {
	margin: 20px;
}

/* Image sizes */

.logo {
	width: 60px;
	display: inline-block;
}

.logo_wrap {
	margin: 20px 20px 30px 20px;
}

img#profile {
	width: 140px;
	margin: 20px 20px 15px 20px;
	float: left;
}

.clear_fix {
	clear: both;
}

/* footer */

/**/

/*html, body {height: 100%;}*/

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 40px;}  /* must be same height as the footer */

#footer {
	position: fixed;
	margin-top: -40px; /* negative value of footer height */
	height: 40px;
	clear:both;
	} 



/**/

footer {
	background-color: #777777;
	margin-top: -40px;
	height: 40px;
	width: 100%;
	border-top: solid 6px #4aaaa5;
	clear: both;
	position: fixed;
	bottom: 0;
}

footer p {
    text-align: center;
    font-size: 8pt;
    color: #cccccc;
    margin: 15px;
}

.push, footer {
	height: 40px;
	clear: both;
	bottom: 0;
	position: absolute;

}

/* CONTACT STYLING */

ul.contact, .message {
	margin: 10px 20px 20px 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12pt;
} 

.item {
	font-size: 8pt;
	border: solid 1px #cccccc;
	padding: 5px;
	margin: 5px 0px 5px 0px;
}

.item p {
	padding-bottom: 20px;

}

.submit {
	margin-left: 20px;
	margin-bottom: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 10pt;
    background-color: #4aaaa5;
    float: left;
    padding: 10px 30px 10px 30px;

}

.insert {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12pt;
	padding-bottom: 125px;
	border: solid 1px #cccccc;
	margin-top: 5px;
}

/* PORTFOLIO STYLING */

div.image {
    position: relative;
    display: inline-block;
    width: 295px;
    margin: 10px -30px 30px 40px;
    float: left;
}

.image h1.text {
	position: absolute;
    top: 70px;
    width: 80%;
    background-color: #4aaaa5;
    padding: 10px;
    line-height: 2;
    font-weight: 600;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12pt;
    font-color: #ffffff;
    text-align: center;

}

.image h1.text:hover {
	background-color: gold;
}

li.nav_item:hover, .logo:hover {
	background-color: gold;
}
 
/*********** RESPONSIVE *************/
				/* 980 */

@media screen and (max-width: 980px) {
	.header {
		border-bottom: 2px solid #cccccc;
		/*margin-bottom: 60px;*/		

 	}
 	.header_width {
 		width: 728px;

 	}


 	nav { 
 		/*text-align: center;*/
 		display: inline-block;
 		/*width: 100%;*/
 		float: right;
 	}

 	ul {
 		margin: 0 auto;
 	}

 	.main {
 		width: 728px;
 		margin: 0 auto;
 		margin-top: 40px;

 	}
 	
 	.content {
 		display: block;
 		margin: 0 auto;
 		width: 430px;
 		margin-bottom: 80px;
 	}



 	.connect {
 		text-align: center;
 		margin: 0 auto;
 		width: 253px;

 	}

 	/* PORTFOLIO */

 	img {
 		width: 390px;
 	}

 	img#profile {
 		width: 390px;
 	}

 	h1.text {
    top: 122px;
    width: 370px;

 	}

 	div.image {
    width: 390px;
    margin: 20px;
	
	}

	.image h1.text {
    top: 130px;
    width: 370px;
	}


}
 /******** @MEDIA 768  ********/

 

 @media screen and (max-width: 768px) {
 	
 	
 	
 	.main, .background {
 		width: 768px;
 		clear: both;
 	}
 	
 	.header_width {
    width: 768px;
	
	}

	h1 {
	margin-left: 20px;
	}

	.content {
	width: 728px;
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;

	}

	.image h1.text {
    top: 94px;
    width: 304px;
    margin-left: 0px;
	}

	img {
		width: 324px;
	}

	div.image {
    width: 324px;
    margin: 20px;
	}

	img#profile {
 	width: 324px;
 	}

	.connect {
    width: 728px;
    margin: 0 auto;
    margin-right: 18px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 80px;
    clear: both;
	}

	h3 {
		text-align: left;
	}

}

/***************** @media 640 **********************/

 @media screen and (max-width: 640px) {
 	
 	
 	
 	.main, .background {
 		width: 640px;
 		clear: both;
 	}
 	
 	.header_width {
    width: 100%;
	
	}

	h1 {
		width: 100%;
		text-align: center;
		margin-left: 0px;
		margin-top: 0px;
	}

	nav {
		width: 100%;
		margin-top: 0px;
	}

	li.nav_item {
    width: 30%;
    text-align: center;
    padding: 0px 0px 10px 0px;
	}

	.content {
	width: 600px;
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;

	}

	.connect {
    width: 600px;
    margin: 0 auto;
    margin-right: 18px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 80px;
    clear: both;
	}

	img {
    width: 560px;
	}

	.image h1.text {
    top: 188px;
    width: 540px;
    margin-left: 0px;
	}
}

















